<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
</head>
<body>
<div th:replace="Fragments/headers :: header"></div>
<div class="container text-center" >

    <div>

            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>

    </div>
    <div>
        <h1>Welcome to Market Place &nbsp; &nbsp; &nbsp; <a  th:if="${#authentication.name != 'lawalmonsaw.lm@gmail.com'}"
                                                             th:href="@{/cart}" class="btn btn-primary">My Cart</a>
        </h1>
    </div>



<!--    start-->
    <div class="container" >
        <div class="row">
            <p></p> <p></p>
            <div class="col-3" th:each="product : ${listProducts}">
    <div class="card"  style="width: 18rem;">
        <img th:src ="@{${product.image}}"class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" th:text="'Brand : ' + ${product.brand}">Brand</h5>
            <p></p>
            <h5 class="card-title" th:text="'Name : ' + ${product.name}">Name</h5>
            <p></p>
            <h5 class="card-title" th:text="'Country : '+ ${product.madein}">Country</h5>
            <p></p>

            <a  class="btn btn-primary" th:if="${#authentication.name == 'lawalmonsaw.lm@gmail.com'}" th:href="@{'/edit/' + ${product.id}}">Edit</a>
            <a   class="btn btn-primary" th:href="@{'/buy/' + ${product.id}}" th:if="${#authentication.name != 'lawalmonsaw.lm@gmail.com'}">View</a>
            <a class="btn btn-primary" th:text="'$ '+ ${product.price}" th:if="${#authentication.name != 'lawalmonsaw.lm@gmail.com'}"> </a>
            <a  class="btn btn-primary" th:href="@{'/cart/' + ${product.id}}" th:if="${#authentication.name != 'lawalmonsaw.lm@gmail.com'}">Cart</a>
            <a  class="btn btn-primary" th:if="${#authentication.name == 'lawalmonsaw.lm@gmail.com'}" th:href="@{'/delete/' + ${product.id}}">Delete</a>
        </div>


    </div>
<!--                  <img th:src ="@{${product.image}}"class="card-img-top" alt="...">-->
            </div>


        </div>

    </div>
<!--stop    -->
</div>

</body>
</html>